/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,html{
    height:100%;
    width: 100%;
}


h1
    {color: purple;}
h2
    {color: black;}
ul
    {list-style-type:none;}
.Fuchsia {
    color:Fuchsia ;
}
.white {
    color:white ;
}
p {
    margin:2cm 4cm 2cm 4cm;

    padding:2cm 4cm 3cm 4cm;


    Border: 5px solid white;}

.shadow {    
    box-shadow: 10px 10px 5px #888888; 
    
}

.a {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/7f/53/1e/7f531e8e97a3e68423eff8515a73557d.gif");
    background-position: center;
    height: 100%;
    width:100%;
}

.white { color: white;}
.inline { display: inline; }

body {
    margin-left: -0px;
}
ul {
    margin-top: -7px
}