<h2 class="Fuchsia">WARNING MAY CAUSE SEIZURE</h2>
<h2 class="a" class="white">To Do List</h2>
        <div class="a">
            <article>
            <h2 class="white">Why are you here</h2>
            <p class="white">What are you doing here? there is nothing here yet. why do you waste your time?...your still here? well if your going to stay you may as well grabe a drink. perferabley somthing good...you know like a capri sun. or you know if your older maybe somthing a little harder on ya... got you drink good. ah you must be here to make your to do list well youve come to the right place...and the only becase i will hunt you down if you dont make it here </p>
        </article>
            </div>
            <ul class="a">
                <% @todos.each do |todo| %>
                <li>
                    <inout type="checkbox" name=""/>
                    <a href="todo/show/<%= todo.id%>"><%= todo.description %></a>
                    <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
                    
                </li>
                <% end %>
            </ul>
            <div id="New-todo-block">
                <a href="todo/new" class="button add-new-todo-button">add a todo</a> 
            </div>
        