<h1>todo#<%=params[:id]%></h1>
<div class="a">
    <ul>
         <li class="white">
              <input type="checkbox">
                     <%=@todo_description%>
                     <%=@todo_pomodoro_estiamte%></li>
    </ul margin-top:-7px;>
    <a class="white inline">edit</a>
    <a class="white">delete</a>
    <a href="index.html"class="white">go back</a>
</div>